<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superfret</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to Superfret</h1>
    </header>
    <main>
        <section>
            <h2>Songs List</h2>
            <input type="text" id="songSearch" placeholder="Search Song List" oninput="filterList('dynamicList', 'songSearch')">
            <ul id="dynamicList">
                {% for file in SongMidiFiles %} 
                <li>
                    <span>{{file.name}}</span>
                    <button id="start-button" onclick="startFile('{{file.name}}')">Start</button>
                    <button id="delete-button" onclick="deleteFile('{{file.name}}')">Delete</button>
                </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Scales List</h2>
            <input type="text" id="scaleSearch" placeholder="Search Scale List" oninput="filterList('staticList', 'scaleSearch')">
            <ul id="staticList">
                {% for file in ScaleMidiFiles %} 
                <li>
                    <span>{{file.name}}</span>
                    <button id="start-button" onclick="startFile('{{file.name}}')">Start</button>
                    <button id="delete-button" onclick="deleteFile('{{file.name}}')">Delete</button>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <button id="addFileButton" onclick="openAddForm()">Add a file</button>
    <button id="shutDownButton" onclick="showPopup()">Shut it down now!</button>

    <!-- Modal for adding MIDI file -->
    <div id="addFormModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddForm()">&times;</span>
            <h2>Add MIDI File</h2>
            <form method="POST" action="{% url 'addFile' %}" enctype="multipart/form-data">
                <input type="hidden" name="csrfmiddlewaretoken" value="g8lWhbHYKBmaMkdVQoqRbEVWwVEmA2Y8eJRk4MunL28hB20IFN9gkMWmMGPkemoq">
                <table>
                    {{MidiFileForm}}
                </table>
                <button type="submit" class="formButton">submit</button>
                {% csrf_token %}
            </form>
        </div>
    </div>



    <div id="popup-window" style="display: none;">
        <h1>Are you sure you want to shutdown?</h1>
        <button id="shutDownButton" onclick="shutDownNow()">Shut it down now!</button>
        <button id="closeButton" onclick="closePopup()">Close</button>
    </div>

    {% if failed_to_add_file %}
        <div id="error-message" class="error-message">
            Failed to add file. Please check the form and try again.
        </div>

        <script>
            // JavaScript to hide the error message after 2 seconds
            setTimeout(function() {
            document.getElementById('error-message').style.display = 'none';
            }, 2000);
        </script>
    {% endif %}

    <script>
        function closePopup() {
            var popup = document.getElementById("popup-window");
            popup.style.display = "none";
        }
        function showPopup() {
            var popup = document.getElementById("popup-window");
            popup.style.display = "block";
        }

        function openAddForm(action) {
            document.getElementById('addFormModal').style.display = 'block';
        }

        function closeAddForm() {
            document.getElementById('addFormModal').style.display = 'none';
        }

        function startFile(filename) {
            window.location.href = '/startfile/' + filename;
        }

        function deleteFile(filename) {
            window.location.href = '/deletefile/' + filename;
        }
    
        function stopFile() {
            window.location.href = '/stopfile'
            var popupWindow = document.getElementById("popup-window");
            popupWindow.style.display = 'none';
        }
        
        function shutDownNow() {
            window.location.href = '/shutDownNow'
        }
    </script>

</body>
</html>
