<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20;
            padding: 0;
        }

        h1 {
            color: #333;
        }

        /* Add more styles as needed */

        #myCanvas {
            border: 2px solid #333;
            margin-top: 20px;
        }

        button {
            margin-top: 10px;
            background-color: #008CBA; /* Blue */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }

    </style>
    <title>Playing File</title>
</head>
<body>

    <h1>You are playing {{file.name}}</h1>


    <div>
        <label id="speedLabel">Speed: 1 </label>
        <input id="speed" type="range" name="speed" min="1" max="10" step="1" value="5" onchange="updateSpeedInput();">
        <br>
    </div>
    
    <div>
        <label id="transposeLabel">Transpose: 0</label>
        <input id="transpose" type="range" name="transpose" min="-24" max="24" step="1" value="0" onchange="updateTransposeInput();">
    </div>
    
    <label for="options">Select a track:</label>
    <select id="options" name="options">
        {% for name in tracks %}
        <option value="{{name}}">{{name}}</option>
        {% endfor %}
    </select>

    <label>Mode:</label>
    <label>
        <input type="radio" name="mode" value="training" checked> Training
    </label>
    <label>
        <input type="radio" name="mode" value="performance"> Performance
    </label>

    <button id="submit-button" onclick=submitForm()>Submit</button>
    <br>

    <canvas id="myCanvas" width="1400" height="500"></canvas>

    <br>
    <button id="close-button" onclick=stopFile()>Back to Home</button>
    <button id="pause-button" onclick=pauseFile()>Pause</button>
    <!-- <button id="restart-button" onclick=restartFile()>Restart</button> -->
    <button id="delete-button" onclick=deleteBlock()>Simulate Strum</button>
    <button id="listen-button" onclick="toggleListening()">Toggle Listening</button>




    <script src="https://cdn.jsdelivr.net/npm/tone@14"></script>
    <script>
        let blockCount = 0;
        const String1Position = 363;
        const Fret1Position = 80;
        const StringGap = 36;
        const FretGap = 86;
        const interval = 10;
        const startPosition = 10;
        const update_speed = 1.2
        // Initialize Tone.js for sound making
        const synth = new Tone.Synth({
			oscillator: {
				type: "amtriangle",
				harmonicity: 0.5,
				modulationType: "sine"
			},
			envelope: {
				attackCurve: "exponential",
				attack: 0.05,
				decay: 0.2,
				sustain: 0.2,
				release: 1.5,
			},
			portamento: 0.05
		}).toDestination();

        const pixels_per_second = update_speed / (interval / 1000)

        var rectangles = [];
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var pause = false;
        var listening = false
        var intervalId
        var strumIntervalId
        var mode = "training"
        var playSpeed = .65
        var currentTrack = ""
        var first_note_target = 0
        var waiting_for_strum = false


        function toggleListening() {
            Tone.start()
            listening = !listening;
            var listenButtonText = ""
            if (listening) {
                listenButtonText = "Listening Now"
            } else {
                listenButtonText = "Not Listening"
            }
            document.getElementById('listen-button').innerText = listenButtonText
        }

        // document.getElementById('deleteButton').addEventListener('click', function () {

        //     deleteBlock()
        // });
        function stopFile() {
            window.location.href = '/stopfile'
            return false
        }

        function pauseFile() {
            fetch('/pausefile')
            pause = !pause
            return false
        }

        // function restartFile() {
        //     var track = currentTrack

        //     fetch('/getActiveFile?speed=' + 5 + "&track=" + track)
        //         .then(response => response.json())
        //         .then(data => {
        //             // Handle the response data
        //             console.log(data.notes)
        //             playNotes(data.notes);
        //         })
        //         .catch(error => {
        //             console.error('Error:', error);
        //         });
        //     return false
        // }

        function spawnBlock(fret, stringNumber, note_Value, time_played) {
            switch (stringNumber) {
                case 1: 
                    color = 'red';
                    break;
                case 2:
                    color = 'blue';
                    break;
                case 3:
                    color = 'green';
                    break;
                default:
                    color = 'yellow';
                    break;
            }

            targetPosition = String1Position - (StringGap * stringNumber) 
            if (first_note_target == 0) {
                yCoordinate = -1 * time_played * pixels_per_second - (StringGap * stringNumber)
                first_note_target = targetPosition - yCoordinate
            }
            xCoordinate = Fret1Position + FretGap * fret
            yCoordinate = -1 * time_played * pixels_per_second - (StringGap * stringNumber) + first_note_target

            rect = {
                x: xCoordinate,
                y: yCoordinate,
                targetPosition: targetPosition,
                color: color,
                noteValue: note_Value
            }
            rectangles.push(rect);

            console.log("spawned block ",rectangles.length," at ycoord=" + yCoordinate)

            blockCount++;
        }

        function deleteBlock() {
            // Remove the completed rectangle
            if (rectangles.length == 0) {
                return
            }
            var rect = rectangles[0]
            rectangles.splice(0, 1);
            waiting_for_strum = false
            playMidiSound(rect.noteValue)
            pause = false
            // i--; // Adjust the index for the next iteration
        }

        function playNotes(notes) {
            clearInterval(intervalId)
            clearInterval(strumIntervalId)
            rectangles = []
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            // draw the initial image
            const image = new Image();
            // image.src = 'https://bassplayercenter.com/wp-content/uploads/2019/10/All-notes-on-bass-horiz.png';
            image.src = 'getBassGuitarImage';
            ctx.drawImage(image, 0, 200);

            pause = false
            waiting_for_strum = true
            // pause = true
            for (var i = 0; i < notes.length; i++) {
                note = notes[i]
                spawnBlock(note.fret, note.string, note.note_value, note.start_time / playSpeed);
            }
            intervalId = setInterval(animate, interval)
            strumIntervalId = setInterval(checkStrumAction, 100)
        }

        function animate() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            const image = new Image();
            
            // image from https://bassplayercenter.com/learn-notes-on-the-bass-guitar/
            image.src = 'getBassGuitarImage';
            ctx.drawImage(image, 0, 200);

            // Loop through all rectangles
            for (var i = 0; i < rectangles.length; i++) {
                var rect = rectangles[i];

                ctx.strokeStyle = rect.color;
                ctx.fillStyle = rect.color;
                ctx.lineWidth = 3;

                if (rect.y > 0) {
                    ctx.strokeRect(rect.x, rect.targetPosition, 30, 30);
                }
                ctx.fillRect(rect.x, rect.y, 30, 30);
                ctx.strokeStyle = 'black';
                ctx.strokeRect(rect.x, rect.y, 30, 30);

                if (rect.y >= rect.targetPosition) {
                    if (mode == "performance" && !waiting_for_strum) {
                        deleteBlock()
                    } else {
                        pause = true
                    }
                }
                else {
                    if (pause == false) {
                        rect.y += update_speed; // Update the position
                    }
                }
            }
        }


        // Function to play a MIDI note
        function playMidiSound(note) {
            if (listening == false) return
            var frequency = midiNoteToFrequency(note)
            Tone.start()
            synth.triggerAttackRelease(frequency, "8n");
        }

        function midiNoteToFrequency(note) {
            var ratio = (note - 40) / 12
            return 82.4 * Math.pow(2, ratio);
        }

        function submitForm() {
            document.getElementById('submit-button').innerText = "re-submit"
            speed = $('#speed').val();
            transpose = $('#transpose').val();
            currentTrack = $('#options').val();
            mode = $('input[name="mode"]:checked').val();
            console.log("speed="+speed)

            fetch('/getActiveFile?speed=' + speed + "&track=" + currentTrack + "&transpose=" + transpose)
                .then(response => response.json())
                .then(data => {
                    // Handle the response data
                    // console.log(data.notes)
                    playNotes(data.notes);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function updateSpeedInput(speed){
            speed = $('#speed').val();
            document.getElementById('speedLabel').innerText = "Speed: " + (speed/5)
        }

        function updateTransposeInput(transpose){
            transpose = $('#transpose').val();
            document.getElementById('transposeLabel').innerText = "Transpose: " + transpose
        }

        // Function to check for strum action
        function checkStrumAction() {
            // Use AJAX to check if strum action has been triggered
            $.ajax({
                url: '/getFeedback',  // Update with the URL of your check strum action view
                method: 'GET',
                success: function(data) {
                    if (data.valid == true) {
                        if (mode == "performance" && waiting_for_strum) {
                            deleteBlock();
                            waiting_for_strum = false
                        } else if (data.correct && mode == "training") {
                            // Strum action has been triggered, simulate strum
                            deleteBlock();
                            // Reset the flag or perform any other necessary actions
                        }
                    }
                },
                error: function(error) {
                    console.error('Error checking strum action:', error);
                }
            });
        }

        // Call the function when the page loads
        window.onload = clearIntervals;

        function clearIntervals() {
            clearInterval(intervalId)
            clearInterval(strumIntervalId)
        }
    </script>

</body>
</html>
