<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block Moving Page</title>

</head>
<body>

    <h1>You are playing {{file.name}}</h1>

    <button id="spawnButton">Spawn Block</button>
    <button id="close-button" onclick=stopFile()>Stop</button>
    <!-- <button id="deleteButton">delete Block</button> -->
    <canvas id="myCanvas" width="1200" height="500"></canvas>

    <script>
        let blockCount = 0;
        const String1Position = 363;
        const Fret1Position = 80;
        const StringGap = 36;
        const FretGap = 86;
        const interval = 10;
        const startPosition = 10;
        const timeDelay =  (String1Position - startPosition) * interval / 1000 // how long it takes from spawning to actually playing, 
                                                              // idea is that block starts at start positions, moves once every interval milliseconds, 
                                                              // until it reaches string1position, so it will take ((string1position - startposition) * interval) / 1000
        var rectangles = [];
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var pause = false;
        var speed = .5

        document.getElementById('spawnButton').addEventListener('click', function () {
            const stringNumber = (blockCount % 4) + 1;  // 1, 2, 3, or 4
            const fretNumber = (blockCount % 12) + 1; // 1-12
            spawnBlock(fretNumber, stringNumber);
        });

        // document.getElementById('deleteButton').addEventListener('click', function () {

        //     deleteBlock()
        // });
        function stopFile() {
            window.location.href = '/stopfile'
        }

        function spawnBlock(fret, stringNumber) {
            switch (stringNumber) {
                case 1: 
                    color = 'red';
                    break;
                case 2:
                    color = 'blue';
                    break;
                case 3:
                    color = 'green';
                    break;
                default:
                    color = 'yellow';
                    break;
            }
            targetPosition = String1Position - (StringGap * stringNumber)
            xCoordinate = Fret1Position + FretGap * fret

            rectangles.push({
                x: xCoordinate,
                y: startPosition - (StringGap * stringNumber),
                targetPosition: targetPosition,
                color: color
            });

            blockCount++;
        }

        function deleteBlock() {
            // Remove the completed rectangle
            rectangles.splice(0, 1);
            pause = false
            // i--; // Adjust the index for the next iteration
        }

        function playNotes(notes) {
            notes.forEach(note => {
                const startTimeInMilliseconds = (note.start_time * 1000) / speed;
                setTimeout(() => {
                    // console.log("Note pitch: ", note.note_value, " string: ", note.string, " fret: ", note.fret)
                    spawnBlock(note.fret, note.string);
                }, startTimeInMilliseconds);
            });
        }

        function animate() {

            // draw all the blocks
            if (pause == true) return
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            const image = new Image();
            
            // image from https://bassplayercenter.com/learn-notes-on-the-bass-guitar/
            image.src = 'https://bassplayercenter.com/wp-content/uploads/2019/10/All-notes-on-bass-horiz.png';
            ctx.drawImage(image, 0, 200);

            // Loop through all rectangles
            for (var i = 0; i < rectangles.length; i++) {
                var rect = rectangles[i];

                ctx.strokeStyle = rect.color;
                ctx.fillStyle = rect.color;

                ctx.lineWidth = 3;
                ctx.strokeRect(rect.x, rect.targetPosition, 30, 30);
                ctx.fillRect(rect.x, rect.y, 30, 30);

                if (rect.y >= rect.targetPosition) {
                    pause = true;
                    deleteBlock()
                }
                else {
                    rect.y += 1; // Update the position
                }
            }
        }

        function fetchMidi() {
            var notes
            fetch('/getActiveFile')
                .then(response => response.json())
                .then(data => {
                    // Handle the response data
                    playNotes(data.notes);
                })
                .catch(error => {
                    console.error('Error:', error);
                });

        }

        // Call the function when the page loads
        window.onload = fetchMidi;

        setInterval(animate, interval)    


    </script>

</body>
</html>
